#giftsT{
	display: block;
	height: 400px;
}
/*关闭图标*/
#giftsTabClose{
	font-size: 19px;
	float:right;
	cursor:pointer;
}
.giftTabPic{
	width: 35px;
	height: 35px; 
	vertical-align:middle;
}
.giftTabChk{
	padding-left: 5px;
	width: 53px;
}
.giftHaveNum{
	color:#05990B;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
.giftSendNum .el-input__inner{
	color:red;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}
/*#giftsT .el-table__row :hover{
	background-color:yellow;
}*/