<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>宝箱数据详细查询</title>	
	<!-- 引入样式 -->
	<link rel="stylesheet" href="node_modules\element-ui\lib\theme-default\index.css">
	<!-- <link rel="stylesheet" href="node_modules\element-ui\lib\theme-chalk\index.css"> -->

<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
</head>
<body>
	<div id="app">
		<el-row :gutter="20">
			<el-col :span="5">
				<div class="block">
					<span class="demonstration">开始时间</span>
					<el-date-picker v-model="value1" type="date" placeholder="选择日期">
					</el-date-picker>
				 </div>						
			</el-col>
			<el-col :span="5">
				<div class="block">
					<span class="demonstration">结束时间</span>
					<el-date-picker v-model="value2" type="date" placeholder="选择日期">
					</el-date-picker>
				 </div>
			</el-col>
			<el-col :span="5">
				<button @click="onClick">查询</button>
			</el-col>
			<el-col :span="5"><div class="grid-content bg-purple" v-html="message"></div></el-col>
		</el-row>

		<template>
		  <el-table :data="tableData3" style="width: 100%" height="530">
		  	<el-table-column fixed type="index" label="ID" width="60">
		    </el-table-column>
		    <el-table-column prop="time" label="日期" :formatter="formatterController" width="170">
		    </el-table-column>
		    <el-table-column prop="roomId" label="房间" width="100">
		    </el-table-column>
		    <el-table-column prop="src_nick" label="姓名" width="160">
		    </el-table-column>
		    <el-table-column prop="award_type"  label="类型" :formatter="judge" width="80">		    	
		    </el-table-column>
		    <!-- <el-table-column prop="award_type" label="类型" width="120">		    	
		    </el-table-column> -->
		    <el-table-column prop="silver" label="鱼丸(个数)" width="105">
		    </el-table-column>
		    <el-table-column prop="prop_count" label="稳(个数)" width="105">
		    </el-table-column>
		  </el-table>
		</template>

		
		
	</div>
</body>
<!-- 先引入 Vue -->
<script src="node_modules/vue.js"></script>
<!-- 引入组件库 -->
<script src="node_modules/element-ui/lib/index.js"></script>
<script src="js/BaseJs/moment.js"></script>
<script src="js/BaseJs/search.js"></script>
</html>