<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>按积分查询</title>	
	<!-- 引入样式 -->
	<link rel="stylesheet" href="../node_modules/element-ui/lib/theme-chalk/index.css">
<style>
  .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
</head>
<body>
	<div id="app">
		<el-row>
			<el-col :span="8">
				<div class="grid-content bg-purple">
					<el-input v-model="input" placeholder="请输入URL"></el-input>
				</div>
			</el-col>
			<el-col :span="4">
				<el-button type="primary"  @click="onClick" round>查询(6000条以内)</el-button>
			</el-col>
			<el-col :span="4">
				<el-button type="primary"  @click="onFixData" round>{{fixData}}</el-button>
			</el-col>
			<el-col :span="2">
				<div class="grid-content bg-purple1">
					<template>
					  <el-select v-model="value" placeholder="积分">
					    <el-option
					      v-for="item in options"
					      :key="item.value"
					      :label="item.label"
					      :value="item.value">
					    </el-option>
					  </el-select>
					</template>
				</div>
			</el-col>
			<el-col :span="4">
				<div class="grid-content bg-purple-light">
					<!-- <button @click="onClickSave">保存</button> -->
					 <el-button type="success" @click="onClickSave" round>保存数据</el-button>
					 <span>获取条数:{{receiveCount}}</span>
				</div>
			</el-col>
		</el-row>
		<template>
		  <el-table :data="tableData" style="width: 100%" height="530">
		  	<el-table-column fixed type="index" label="ID" width="60">
		    </el-table-column>
		  <!--   <el-table-column prop="time" label="日期" width="170">
		    </el-table-column> -->
		    <el-table-column prop="room_id" label="房间ID" width="100">
		    </el-table-column>
		    <el-table-column prop="credit" label="积分" width="65">
		    </el-table-column>
		    <el-table-column prop="owner_name"  label="主播名称" width="200">		    	
		    </el-table-column>
		    <el-table-column prop="room_name" label="房间名称" width="300">		   
		  </el-table>
		</template>	
	</div>
</body>
<script src="../js/QuoteJs/jquery.min.js"></script>
<!-- 先引入 Vue -->
<script src="../node_modules/vue.js"></script>
<!-- 引入组件库 -->
<script src="../node_modules/element-ui/lib/index.js"></script>
<script src="../js/QuoteJs/FileSaver.min.js"></script>
<script src="../js/BaseJs/jifen.js"></script>
</html>